.swiper-slide {
	width: 100%;
	height: 100%;
    object-fit: contain;
}

.swiper {
    position: relative;
	width: 100%;
    height: 100%;
    border-radius: 32px;
}

.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
	margin: 0 10px;
}

.swiper-horizontal>.swiper-pagination-bullets, .swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
    bottom: 20px;
    left: 0;
    width: 100%;
}

.swiper-pagination {
    z-index: 2000;
}

.swiper-pagination-bullet {
	width: 15px;
	height: 15px;
}

.swiper-pagination-bullet-active {
	background-color: #fff;
}