*, *::before, *::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: local('Montserrat-Regular'),
  url('../evklid_fonts/Montserrat-Regular.woff2') format('woff2'),
  url('../evklid_fonts/Montserrat-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: local('Montserrat-SemiBold'),
  url('../evklid_fonts/Montserrat-SemiBold.woff2') format('woff2'),
  url('../evklid_fonts/Montserrat-SemiBold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: normal;
  src: local('Montserrat-Bold'),
  url('../evklid_fonts/Montserrat-Bold.woff2') format('woff2'),
  url('../evklid_fonts/Montserrat-Bold.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  font-weight: 800;
  font-style: normal;
  src: local('Montserrat-ExtraBold'),
  url('../evklid_fonts/Montserrat-ExtraBold.woff2') format('woff2'),
  url('../evklid_fonts/Montserrat-ExtraBold.woff') format('woff');
  font-display: swap;
}

body {
  min-width: 320px;
  font: 400 16px / 32px "Montserrat", sans-serif;
}

a {
  font-size: 0;
  line-height: 0;
  text-decoration: none;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1830px;
  padding: 0 30px;
  margin: 0 auto;
}

.svg320 {
  display: none;
}

section {
  padding-top: 50px;
}

.section-title {
  margin: 0;
  font: 400 48px / 59px "Montserrat", sans-serif;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.button-default {
  margin: 0;
  padding: 25px 39px;
  font: 700 23px / 28px "Montserrat", sans-serif;
  border: 0;
  border-radius: 16px;
  background-color: #FF9900;
  color: white;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.button-default:hover {
  background-color: #FFB84D;
}

.button-default:focus {
  outline: none;
  background-color: #FFB84D;
}

.button-default:active {
  outline: none;
  background-color: #E1670E;
}

/* header */

.header {
  border-radius: 0 0 32px 32px;
  box-shadow: 0 5px 40px rgba(0,0,0,.1);
}

.header__container {
  position: relative;
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 14px;
}

.burger {
  position: relative;
  display: none;
  padding: 0;
  background-color: transparent;
  border: none;
}

.burger-line {
  width: 100%;
  height: 2px;
  background-color: black;
}

.header__container .hidden {
  display: none;
}

.search {
  position: absolute;
  right: 0;
  bottom: 50%;
  transform: translateY(50%);
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  padding-right: 13px;
  margin: 0 1%;
  width: calc(98%);
  max-width: 539px;
  height: 60px;
  border-radius: 24px;
  box-shadow: 0 0 20px rgba(0,0,0,.12);
  background-color: white;
}

.search-input {
  padding: 0;
  width: calc(100% - 82px);
  height: 100%;
  border: none;
  border-bottom: 1px solid #CACACA;
}

.search-input:focus {
  outline: none;
}

.search-input::placeholder {
  font-weight: 500;
  color: #CACACA;
}

.search-icon {
  height: 100%;
}

.search-close {
  width: 24px;
  padding: 0;
  background-color: transparent;
  border: none;
}

.search-close svg {
  margin-top: 2px;
  fill: #CACACA;
  transition: fill 0.2s ease-in-out;
}

.search-close svg circle {
  fill: transparent;
  stroke: #CACACA;
  transition: stroke 0.2s ease-in-out;
}

.search-close:hover svg{
  fill: #FF9900;
}

.search-close:hover svg circle{
  stroke: #FF9900;
}

.search-close:focus {
  outline: none;
}

.search-close:focus svg{
  fill: #CACACA;
  outline: 2px solid #FF9900;
  outline-offset: 2px;
}

.search-close:focus svg circle{
  stroke: #CACACA;
}

.search-close:active svg {
  outline: none;
  fill: black
}

.search-close:active svg circle{
  stroke: black;
}

.header__logo {
  display: inline-block;
  margin-right: auto;
  padding-right: 30px;
}

.header__nav {
  display: inline-block;
  margin-right: 260px;
}

.header__nav__list {
  display: flex;
  width: 708px;
  justify-content: space-between;
}

.header__nav__item {
  line-height: 0;
}

.close-menu-btn {
  display: none;
}

.header__nav__link {
  position: relative;
  font: 600 18px / 22px "Montserrat", sans-serif;
  transition: color 0.1s ease-in-out;
}

.header__nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  background-color: #FF9900;
  border: 1px solid #FF9900;
  transform: scaleX(0);
  transition: transform 0.1s ease-in-out, border 0.1s ease-in-out background-color 0.1s ease-in-out;
}

.header__nav__link:hover::after {
  transform: scaleX(1);
}

.header__nav__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 3px;
}

.header__nav__link:active {
  outline: none;
  color: #E1670E;
}

.header__nav__link:active::after {
  border: 1px solid #E1670E;
  background-color: #E1670E;
}

.header__search {
  padding: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

.header__search:focus {
  outline: none;
}

.header__search svg {
  fill: black;
  stroke: black;
  transition: fill 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.header__search:hover svg, .header__search:active svg{
  fill: #FF9900;
  stroke: #FF9900;
}

.header__search:focus svg {
  outline: 2px solid #FF9900;
  outline-offset: 4px;
}

/* hero */

.hero__container {
  height: 620px;
}

.hero-content {
  z-index: 1000;
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 100px 80px;
}

.swiper-slide {
  background-repeat: no-repeat; 
  background-size: cover;
}

.slide1 {
  background-image: url('../evklid_img/hero_1.jpg'); 
}

.slide2 {
  background-image: url('../evklid_img/hero_2.jpg'); 
}

.slide3 {
  background-image: url('../evklid_img/hero_3.jpg'); 
}

.hero__title {
  max-width: 837px;
  margin: 0;
  margin-bottom: 24px;
  font: 800 70px / 85px "Montserrat", sans-serif;
  color: white;
}

.hero__descr {
  max-width: 790px;
  margin-bottom: 90px;
  font: 700 24px / 29px "Montserrat", sans-serif;
  color: white;
}

/* about-us */

.about-us__title {
  margin-bottom: 20px;
}

.about-us__descr {
  font: 400 16px / 32px "Montserrat", sans-serif;
  margin-bottom: 50px;
  max-width: 1235px;
}

.about-us__advantages {
  display: flex;
  justify-content: space-between;
}

.advantages-item {
  width: calc((100% - 32px) / 2);
}

.advantage-left {
  display: flex;
  align-items: flex-end;
  background-image: url("../evklid_img/advantage_bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.left-hover {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
  width: 100%;
  border-radius: 32px;
  background-color: rgba(0,0,0,.5);
}

.left-hover-descr {
  margin-right: 10px;
  width: 433px;
  font-weight: 700;
  color: white;
}

.left-hover-button {
  padding: 17px 35px;
  min-height: 60px;
  min-width: 175px;
  font: 700 16px / 20px "Montserrat", sans-serif;
  border: 3px solid #FF9900;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
}

.left-hover-button:hover {
  background-color: #FF9900;
}

.left-hover-button:focus {
  outline: none;
  border: none;
  background-color: #FF9900;
}

.left-hover-button:active {
  border: none;
  background-color: #E1670E;
}

.right-container {
  display: flex;
  padding: 65px 60px;
  height: 295px;
  border: 1px solid #CACACA;
  border-radius: 32px;
}

.right-container:not(:last-child) {
  margin-bottom: 32px;
}

.right-container-descr {
  max-width: 452px;
  margin-left: 46px;
  padding-bottom: 30px;
}

.right-advantage-title {
  margin: 0;
  margin-bottom: 8px;
  font: 700 24px / 30px "Montserrat", sans-serif;
}

.right-advantage-descr {
  max-width: 450px;
}

/* work */

.work {
  padding-top: 100px;
}

.work__title {
  margin-bottom: 50px;
}

.work__steps {
  display: flex;
  margin-bottom: 45px;
}

.button-step {
  padding: 0;
  font: 400 18px / 22px "Montserrat", sans-serif;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.button-step:hover {
  color: #FF9900;
}

.button-step:focus {
  outline: 2px solid #FF9900;
  outline-offset: 3px;
  color: black;
}

.button-step:active {
  outline: none;
  color: #E1670E;
}

.button-step:not(:last-child) {
  margin-right: 85px; 
}

.work__list {
  display: flex;
  justify-content: space-between;
}

.work__left__item {
  max-width: 758px;
  margin-right: 30px;
}

.left-title {
  margin: 0;
  margin-bottom: 8px;
  font: 700 24px / 32px "Montserrat", sans-serif;
}

.left-descr {
  margin-bottom: 49px;
}

.left-buttons {
  display: inline-flex;
}

.button-show-more {
  padding: 20px 38px;
  margin-right: 32px;
  font: 700 16px / 20px "Montserrat", sans-serif;
}

.button-deal {
  padding: 20px 38px;
  font: 400 16px / 20px "Montserrat", sans-serif;
  background-color: transparent;
  border: 1px solid black;
  color: black;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border 0.2s ease-in-out;
}

.button-deal:hover, .button-deal:focus {
  border: 1px solid #666;
  color: white;
  background-color: #666;
}

.button-deal:active {
  background-color: black;
}

.work__right__item {
  display: flex;
  align-items: center;
  width: 870px;
  margin-top: 10px;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-size: cover;
}

.right1 {
  background-image: url("../evklid_img/work_1.jpg");
}
.right2 {
  background-image: url("../evklid_img/work_2.jpg");
}
.right3 {
  background-image: url("../evklid_img/work_3.jpg");
}
.right4 {
  background-image: url("../evklid_img/work_4.jpg");
}

/* questions */
.accordion__content {
	overflow: hidden;
	visibility: hidden;
	transition-property: height, visibility;
	transition-timing-function: ease;
}

.accordion__content:focus {
  outline: 1px solid black;
  outline-offset: 3px;
}

.accordion:focus {
  outline: none;
}

.accordion--active .accordion__content {
	visibility: visible;
}

.questions {
  padding-top: 111px;
}

.questions__title {
  margin-bottom: 32px;
}

.answer {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 32px;
}

.question {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 30.5px 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
}

.question::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border-top: 1px solid #CACACA;
  opacity: 1;
  transition: border-top 0.2s ease-in-out;
}

.question::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  border-bottom: 1px solid #CACACA;
  opacity: 1;
  transition: border-bottom 0.2s ease-in-out;
}

.question:hover, .question:focus {
  outline: none;
  color: #FF9900;
}

.question:active {
  color: black;
}

.question:hover::before, .question:focus::before {
  z-index: 1;
  border-top: 1px solid #FF9900;
}

.question:hover::after, .question:focus::after {
  z-index: 1;
  border-bottom: 1px solid #FF9900;
}

.question:active::before {
  border-top: 1px solid #CACACA;
}

.question:active::after {
  border-bottom: 1px solid #CACACA;
}

.noAfter::after {
  content: none;
}

.questions__list {
  margin-bottom: 100px;
}

.question__content {
  font: 700 24px / 32px "Montserrat", sans-serif;
  text-align: left;
  max-width: calc(100% - 50px);
}

.question ellipse, .question path{
  transition: fill 0.2s ease-in-out;
}

.question:hover ellipse, .question:focus ellipse{
  fill: #FF9900;
}

.question:hover path, .question:focus path{
  fill: white;
}

.rotation {
  transform: rotate(45deg);
  transition: transform 0.2s ease-in-out;
}

.reverse-rotation {
  transform: none;
  transition: transform 0.2s ease-in-out;
}

.question:active ellipse {
  fill: #CACACA;
}

.question:active path {
  fill: black;
}

/* footer */

footer {
  padding: 50px 0;
  background-color: black;
  color: white;
}

.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__left {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  min-width: 251px;
}

.footer__logo {
  max-width: 224px;
  margin-bottom: 20px;
}

.footer__nav {
  margin-bottom: 90px;
}

.footer__nav__link {
  width: 100%;
  font: 600 18px / 36px "Montserrat", sans-serif;
  color: #CACACA;
  transition: color 0.2s ease-in-out;
}

.footer__nav__link:hover {
  color: #FF9900;
}

.footer__nav__link:focus {
  outline: 2px solid #FF9900;
  outline-offset: 3px;
  color: #CACACA;
}

.footer__nav__link:active {
  outline: none;
  color: #E1670E;
}

.footer__socials {
  display: inline-flex;
}

.social {
  display: inline-block;
  fill: #666;
  transition: fill 0.2s ease-in-out;
}

.social:hover {
  fill: #FF9900;
}

.social:focus {
  fill: #666;
  outline: 2px solid #FF9900;
  outline-offset: 3px;
}

.social:active {
  fill: #E1670E;
  outline: none;
}

.social:not(:last-child) {
  margin-right: 25px;
}

.footer__middle {
  width: 570px;
  color: #CACACA;
}

.footer__title {
  margin-bottom: 25px;
}

.footer__form {
  display: flex;
  flex-direction: column;
}

.footer__input {
  padding: 14px 24px;
  margin-bottom: 25px;
  width: 100%;
  font: 400 16px / 32px "Montserrat", sans-serif;
  border: 0;
  border-radius: 16px;
  background-color: #414141;
  color: #CACACA;
  transition: background-color 0.2s ease-in-out;
}

.footer__input:hover {
  background-color: #666;
}

.footer__input:focus {
  outline: none;
  background-color: #666;
}

.footer__input:active {
  outline: none;
  background-color: #666;
}

.footer__input::placeholder {
  color: #CACACA;
}

textarea.footer__input {
  margin-bottom: 32px;
  min-height: 150px;
  resize: none;
}

.footer__button__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__checkbox {
  position: relative;
  left: -24px;
  display: inline-block;
  z-index: -1;
  opacity: 0;
}

.footer__label {
  position: relative;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
}

.footer__checkbox:focus + label {
  outline: 2px solid white;
}

.footer__checkbox + .footer__label::before {
  content: "";
  position: absolute;
  left: calc(-20px);
  top: calc(50% - 1em / 2);
  width: 13px;
  height: 13px;
  outline: 1px solid #CACACA;
  background-color: transparent;
  border-radius: 2px;
}

.footer__checkbox:checked + .footer__label::before {
  content: "";
  position: absolute;
  left: calc(-20px);
  top: calc(50% - 1em / 2);
  width: 13px;
  height: 13px;
  outline: 1px solid #CACACA;
  background-color: transparent;
  background-image: url("../evklid_img/check.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 2px;
}

.footer__submit__button {
  padding: 19px 52px;
  font: 700 16px / 20px "Montserrat", sans-serif;
}

.footer__right {
  display: flex;
  justify-content: space-between;
  width: 1169px;
}

.footer__endtext {
  align-self: center;
  max-width: 363px;
  color: #CACACA;
}